# Projeto Final Big Data Science - Microdados ENEM 2021

### Como tarefa do time, vocês recebem a incumbência de fazer uma análise dos dados coletas no ENEM 2021. Como colher de chá, já que encontrar e vasculhar a fonte dos dados é seu trabalho, seu supervisor te envia o link de onde encontrar os dados:

### https://www.gov.br/inep/pt-br/acesso-a-informacao/dados-abertos/microdados/enem
 
### Ele então combina com o time de entregar os relatórios depois, como um jupyter notebook, com título, introdução e contextualização histórica e político-social se necessário (com referências), introdução ao tema abordado, desenvolvimento de seus pontos com a ajuda da exploração dos dados, métodos estatísticos etc., hipóteses levantadas e possíveis direções para o órgão público que será dirigido. Ele diz também para se sentir livre para usar qualquer método estatístico ou de machine learning que você conhece, trazer previsões, gráficos, dentre outros métodos para suportar sua argumentação.

#### ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

### Introdução:

"""O Exame Nacional do Ensino Médio (Enem) foi instituído em 1998, com o objetivo de avaliar o desempenho escolar dos estudantes ao término da educação básica. Em 2009, o exame aperfeiçoou sua metodologia e passou a ser utilizado como mecanismo de acesso à educação superior. Desde 2020, o participante pode escolher entre fazer o exame impresso ou o Enem Digital, com provas aplicadas em computadores, em locais de prova definidos pelo Inep.

As notas do Enem podem ser usadas para acesso ao Sistema de Seleção Unificada (Sisu) e ao Programa Universidade para Todos (ProUni). Elas também são aceitas em mais de 50 instituições de educação superior portuguesas. Além disso, os participantes do Enem podem pleitear financiamento estudantil em programas do governo, como o Fundo de Financiamento Estudantil (Fies). Os resultados do Enem possibilitam, ainda, o desenvolvimento de estudos e indicadores educacionais.

Qualquer pessoa que já concluiu o ensino médio ou está concluindo a etapa pode fazer o Enem para acesso à educação superior. Os participantes que ainda não concluíram o ensino médio podem participar como “treineiros” e seus resultados no exame servem somente para autoavaliação de conhecimentos.

A aplicação do Enem ocorre em dois dias. A Política de Acessibilidade e Inclusão do Inep garante atendimento especializado e tratamento pelo nome social, além de diversos recursos de acessibilidade. Há também uma aplicação para pessoas privadas de liberdade.

Os participantes fazem provas de quatro áreas de conhecimento: linguagens, códigos e suas tecnologias; ciências humanas e suas tecnologias; ciências da natureza e suas tecnologias; e matemática e suas tecnologias, que ao todo somam 180 questões objetivas. Os participantes também são avaliados por meio de uma redação, que exige o desenvolvimento de um texto dissertativo-argumentativo a partir de uma situação-problema."""

#### Retirado de: https://www.gov.br/inep/pt-br/areas-de-atuacao/avaliacao-e-exames-educacionais/enem

#### ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------

#### Bom, meu primeiro pensamento ao ler as instruções é "Será que a pandemia impactou no número de candidatos que realizaram as provas do ENEM? E será que o efeito da pandemia no ensino causou uma diminuição da nota dos alunos?

#### Então minha ideia é realizar um entendimento dos dados disponíveis e comparar os dados de 2019 (pré pandemia) com os dados de 2020 e 2021 (que correspondem ao primeiro ano e à porção do meio / "final" da pandemia no Brasil, respectivamente) para responder a hipótese de que a Pandemia sim, teve efeito sobre o número de inscritos na prova do ENEM (e sobre o número de pessoas que realizaram todas as 4 provas). E também, sim, a pandemia teve como consequência a diminuição das notas dos alunos que realizaram a prova do ENEM.

In [2]:
import pandas as pd #importing libraries
import numpy as np
import matplotlib.pyplot as plt
import datetime as dt
import plotly.graph_objects as go

VOU FAZER TUDO COM 2019, VERIFICAR OS DADOS E ETC (PRIMEIRO SÓ FAZER O BASICAO, ARRUMAR O QUE TIVER QUE ARRUMAR, DADOS NULOS...), E DEPOIS COMPARAR, FAZENDO ALGUMAS DESSAS ANALISES COM 2020 E 2021 (LEMBRAR DE TAMBÉM TRATAR ESSES DATASETS!). E ENTÃO CONCLUIR MINHAS HIPÓTESES  IDEIAS INICIAIS, E  TALVEEEEEEEZ, PESQUISAR ALGUM ARTIGO QUE REFORCE MEUS ACHADOS.

Let's take a look on the data
Here we can check all the columns/"variables" that are avaiable for the exploration, and start to see a putative path to follow.

- We can observe that the dataframe has 9800 rows and 18 columns.

In [3]:
df = pd.read_csv(r"D:\\microdados_enem_2021\DADOS\MICRODADOS_ENEM_2021.csv", encoding='latin-1', sep=';') #read and overview of database

In [6]:
display(df)

,NU_INSCRICAO,NU_ANO,TP_FAIXA_ETARIA,TP_SEXO,TP_ESTADO_CIVIL,TP_COR_RACA,TP_NACIONALIDADE,TP_ST_CONCLUSAO,TP_ANO_CONCLUIU,TP_ESCOLA,...,Q016,Q017,Q018,Q019,Q020,Q021,Q022,Q023,Q024,Q025
0,210053865474,2021,5,F,1,1,1,1,3,1,...,A,A,A,B,A,A,B,A,B,B
1,210052384164,2021,12,M,1,1,1,1,11,1,...,A,A,A,B,A,A,C,A,A,A
2,210052589243,2021,13,F,3,1,1,1,15,1,...,B,A,A,B,A,A,C,B,B,B
3,210052128335,2021,3,M,1,3,1,2,0,2,...,A,A,A,B,A,A,B,A,B,B
4,210051353021,2021,2,F,1,3,1,2,0,2,...,B,A,A,B,A,B,E,A,B,B
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3389827,210053249138,2021,7,F,1,3,1,1,0,1,...,A,A,A,B,A,A,B,A,A,B
3389828,210053776013,2021,7,F,1,1,1,1,5,1,...,B,A,B,C,A,A,E,B,B,B
3389829,210052441508,2021,13,F,1,3,1,1,15,1,...,B,A,A,A,A,A,B,A,B,B
3389830,210051139675,2021,7,F,1,1,1,1,4,1,...,B,A,B,B,A,B,E,A,C,B
3389831,210052410399,2021,12,F,2,3,1,1,15,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3389832 entries, 0 to 3389831
Data columns (total 76 columns):
 #   Column                  Dtype
---  ------                  -----
 0   NU_INSCRICAO            int64
 1   NU_ANO                  int64
 2   TP_FAIXA_ETARIA         int64
 3   TP_SEXO                 object
 4   TP_ESTADO_CIVIL         int64
 5   TP_COR_RACA             int64
 6   TP_NACIONALIDADE        int64
 7   TP_ST_CONCLUSAO         int64
 8   TP_ANO_CONCLUIU         int64
 9   TP_ESCOLA               int64
 10  TP_ENSINO               float64
 11  IN_TREINEIRO            int64
 12  CO_MUNICIPIO_ESC        float64
 13  NO_MUNICIPIO_ESC        object
 14  CO_UF_ESC               float64
 15  SG_UF_ESC               object
 16  TP_DEPENDENCIA_ADM_ESC  float64
 17  TP_LOCALIZACAO_ESC      float64
 18  TP_SIT_FUNC_ESC         float64
 19  CO_MUNICIPIO_PROVA      int64
 20  NO_MUNICIPIO_PROVA      object
 21  CO_UF_PROVA             int64
 22  SG_UF_PROVA             object
 23  TP_PRESENCA_CN          int64
 24  TP_PRESENCA_CH          int64
 25  TP_PRESENCA_LC          int64
 26  TP_PRESENCA_MT          int64
 27  CO_PROVA_CN             float64
 28  CO_PROVA_CH             float64
 29  CO_PROVA_LC             float64
 30  CO_PROVA_MT             float64
 31  NU_NOTA_CN              float64
 32  NU_NOTA_CH              float64
 33  NU_NOTA_LC              float64
 34  NU_NOTA_MT              float64
 35  TX_RESPOSTAS_CN         object
 36  TX_RESPOSTAS_CH         object
 37  TX_RESPOSTAS_LC         object
 38  TX_RESPOSTAS_MT         object
 39  TP_LINGUA               int64
 40  TX_GABARITO_CN          object
 41  TX_GABARITO_CH          object
 42  TX_GABARITO_LC          object
 43  TX_GABARITO_MT          object
 44  TP_STATUS_REDACAO       float64
 45  NU_NOTA_COMP1           float64
 46  NU_NOTA_COMP2           float64
 47  NU_NOTA_COMP3           float64
 48  NU_NOTA_COMP4           float64
 49  NU_NOTA_COMP5           float64
 50  NU_NOTA_REDACAO         float64
 51  Q001                    object
 52  Q002                    object
 53  Q003                    object
 54  Q004                    object
 55  Q005                    float64
 56  Q006                    object
 57  Q007                    object
 58  Q008                    object
 59  Q009                    object
 60  Q010                    object
 61  Q011                    object
 62  Q012                    object
 63  Q013                    object
 64  Q014                    object
 65  Q015                    object
 66  Q016                    object
 67  Q017                    object
 68  Q018                    object
 69  Q019                    object
 70  Q020                    object
 71  Q021                    object
 72  Q022                    object
 73  Q023                    object
 74  Q024                    object
 75  Q025                    object
dtypes: float64(22), int64(17), object(37)
memory usage: 1.9+ GB

In [5]:
df.describe()

,NU_INSCRICAO,NU_ANO,TP_FAIXA_ETARIA,TP_ESTADO_CIVIL,TP_COR_RACA,TP_NACIONALIDADE,TP_ST_CONCLUSAO,TP_ANO_CONCLUIU,TP_ESCOLA,TP_ENSINO,...,NU_NOTA_MT,TP_LINGUA,TP_STATUS_REDACAO,NU_NOTA_COMP1,NU_NOTA_COMP2,NU_NOTA_COMP3,NU_NOTA_COMP4,NU_NOTA_COMP5,NU_NOTA_REDACAO,Q005
count,3.389832e+06,3389832.0,3.389832e+06,3.389832e+06,3.389832e+06,3.389832e+06,3.389832e+06,3.389832e+06,3.389832e+06,1.096828e+06,...,2.245844e+06,3.389832e+06,2.378379e+06,2.378379e+06,2.378379e+06,2.378379e+06,2.378379e+06,2.378379e+06,2.378379e+06,3.389830e+06
mean,2.100527e+11,2021.0,5.306013e+00,1.052073e+00,2.043491e+00,1.027106e+00,1.608430e+00,2.581980e+00,1.396214e+00,1.006295e+00,...,5.350802e+02,4.704640e-01,1.140684e+00,1.192657e+02,1.380269e+02,1.153117e+02,1.281853e+02,1.127109e+02,6.135005e+02,3.739557e+00
std,9.962403e+05,0.0,3.902871e+00,4.129414e-01,1.022561e+00,2.049293e-01,7.198306e-01,4.278731e+00,5.938455e-01,7.909361e-02,...,1.106267e+02,4.991269e-01,7.910804e-01,3.391962e+01,4.563224e+01,3.634138e+01,3.883252e+01,6.005667e+01,1.907142e+02,1.378942e+00
min,2.100510e+11,2021.0,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,...,0.000000e+00,0.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+00
25%,2.100519e+11,2021.0,2.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,...,4.447000e+02,0.000000e+00,1.000000e+00,1.000000e+02,1.200000e+02,1.000000e+02,1.200000e+02,8.000000e+01,5.200000e+02,3.000000e+00
50%,2.100527e+11,2021.0,4.000000e+00,1.000000e+00,2.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,1.000000e+00,1.000000e+00,...,5.154000e+02,0.000000e+00,1.000000e+00,1.200000e+02,1.200000e+02,1.200000e+02,1.200000e+02,1.200000e+02,6.000000e+02,4.000000e+00
75%,2.100536e+11,2021.0,7.000000e+00,1.000000e+00,3.000000e+00,1.000000e+00,2.000000e+00,3.000000e+00,2.000000e+00,1.000000e+00,...,6.139000e+02,1.000000e+00,1.000000e+00,1.400000e+02,1.800000e+02,1.400000e+02,1.600000e+02,1.600000e+02,7.400000e+02,4.000000e+00
max,2.100545e+11,2021.0,2.000000e+01,4.000000e+00,6.000000e+00,4.000000e+00,4.000000e+00,1.500000e+01,3.000000e+00,2.000000e+00,...,9.531000e+02,1.000000e+00,9.000000e+00,2.000000e+02,2.000000e+02,2.000000e+02,2.000000e+02,2.000000e+02,1.000000e+03,2.000000e+01

In [86]:
print((df["StoreID"].value_counts()))

1     8230
2     6838
3     6167
4     5172
7     3588
9     1845
22     913
Name: StoreID, dtype: int64

In [49]:
print((df["ProductID"].value_counts()))

002ec297b1b00fb9dde7ee6ac24b67713    966
002d4ea7c04739c130bb74d7e7cd16943    963
001c5d71ac6ad696d22315953758fa043    944
0011c512eb256aa0dbbb544d8dffcf6e3    940
0030026a6ddb3b2d1d4bc225b4b4c4da3    939
                                    ...
00088930e925c41fd95ebfe695fd26552    205
00210e41887c2a8ef9f791ebc780cc362    204
002ec297b1b00fb9dde7ee6ac24b67711    202
002552c0663708129c0019cc97552d7d2    200
001b237c0e9bb435f2e54071129237e92    197
Name: ProductID, Length: 73, dtype: int64

In [50]:
df["Date"] = pd.to_datetime(df["Date"], dayfirst=True)

In [51]:
df["Year"] = df["Date"].dt.year #creatins new column with year to take a first look at the sales by diferent time periods.

In [52]:
df["Year Month"] = df["Date"].dt.year*100 + df["Date"].dt.month
df["value"] = df["UnitPrice"]*df["Quantity"]

In [53]:
df["Year Month"] = df["Year Month"].map(str)

In [88]:
df20 = df[["Year Month", "value", "StoreID"]]
print(df20)

      Year Month  value  StoreID
0         201812  249.2        4
1         201904  162.4        4
2         201907  194.6        4
3         201804  403.2        1
4         201901  406.0        1
...          ...    ...      ...
32748     201812  218.4        4
32749     201812  210.0        4
32750     201908  148.4        4
32751     201911  436.8        4
32752     201807  254.8        4

[32753 rows x 3 columns]

In [90]:
display(df20.groupby("StoreID")["value"].sum())

StoreID
1     1940307.6
2     1588476.4
3     1441864.2
4     1228606.4
7      838198.2
9      433844.6
22     217596.4
Name: value, dtype: float64

In [75]:
df2 = df[df["ProductID"] == "002d4ea7c04739c130bb74d7e7cd16943"]

In [77]:
df6 = df2[["ProductID", "Year Month", "value"]]
display(df6.groupby("Year Month")["value"].sum())

Year Month
201803     8610.0
201804     8400.0
201805     7770.0
201806    14070.0
201807    13230.0
201808    14070.0
201809    11970.0
201810     7140.0
201811    12390.0
201812    17010.0
201901     6300.0
201902     4620.0
201903     5670.0
201904     6510.0
201905     7350.0
201906    11760.0
201907     7980.0
201908    13650.0
201909     5250.0
201910     6300.0
201911     5460.0
201912    11760.0
202001     6510.0
Name: value, dtype: float64

In [85]:
df7 = df[["ProductID", "Year Month", "value"]]

df8 = df7.groupby("Year Month")["value"].sum()
df9 = df8.iloc[10:22]
print(df9)
df9.describe()

Year Month
201901    234277.4
201902    187203.8
201903    316759.8
201904    286636.0
201905    314837.6
201906    494282.6
201907    269731.0
201908    495861.8
201909    285343.8
201910    251095.6
201911    276053.4
201912    478808.4
Name: value, dtype: float64

count        12.000000
mean     324240.933333
std      105678.209798
min      187203.800000
25%      265072.150000
50%      285989.900000
75%      357271.950000
max      495861.800000
Name: value, dtype: float64

In [4]:
lista = [1,2,4,5,6,7,8,9]

if 4 in lista:
    for i in lista:
        print(i)
        print("pedraolixo")

1
pedraolixo
2
pedraolixo
4
pedraolixo
5
pedraolixo
6
pedraolixo
7
pedraolixo
8
pedraolixo
9
pedraolixo

In [2]:
l1 = [1]
l2 = [2]

result = l1 + l2
print(result)

[1, 2]

In [3]:
def add(c,k):
    c.test=c.test+1
    k=k+1

class Plus:
    def ___init__(self):
        self.test=0

def main():
    p=Plus()
    index=0b

    for i in range(0,25):
        add(p,index)
    
    print("p.test=", p.test)
    print("index=", index)
    
main()

AttributeError: 'Plus' object has no attribute 'test'

In [4]:
i = "a"

def welcome(i):
    i=i+", welcome"
    return i

welcome("developer")
print(i)

a

In [10]:
a = ['a']

b = list(a)
print(b)

['a']

In [11]:
print(2**(3**2), (2**3)**2, (2**3)**3)

512 64 512

In [13]:
array = ["w", "l", "a"]
print("-".join(array))

w-l-a

In [14]:
def func1():
    x=50
    return x

func1()
print(x)

NameError: name 'x' is not defined

In [15]:
z = set('abc')
z.add('san')
z.update(set(['p','q']))
print(z)

{'p', 'san', 'c', 'a', 'b', 'q'}

In [16]:
import re
result = re.findall("welcome to Turing", "Welcome", 1)
print(result)

[]

In [17]:
a = [1,2,3,4]
b=[sum(a[0:x+1]) for x in range(0,len(a))]
print(b)

[1, 3, 6, 10]

In [18]:
data = [1,2,3]
def incr(x):
    return x+1
print(list(map(incr, data)))

[2, 3, 4]

In [19]:
print([i.lower() for i in "TurIng"])

['t', 'u', 'r', 'i', 'n', 'g']

In [20]:
def f(x,l=[]):
    for i in range (x):
        l.append(i*i)
    print(l)
    
f(2)
f(3,[3,2,1])
f(3)

[0, 1]
[3, 2, 1, 0, 1, 4]
[0, 1, 0, 1, 4]

In [21]:
t='%(a)s %(b)s %(c)s'
print(t%dict(a='welcome', b='to', c='turing'))

welcome to turing

In [26]:
skills = ['a', 'b', 'c']
skills.append(2, 'd')

print(skills)

TypeError: list.append() takes exactly one argument (2 given)

aaaaaaaaaaaaaaaaaaaa

In [59]:
from typing import List

string = "red2 blue5 black4 green1 gold3"

def solution(s: str) -> str:
    lista = s.split()
    valores = []
    for i, cor in enumerate(lista):
        #cor[i] = cor[:-2]
        print(i)
        print(cor)
        valores.append(lista[i])
        lista[i] = cor[0:-1]
        valores[i] = valores[i][-1:]
        #dicion = {lista[i]: valores[i] for i in range(len(lista))}
    return(lista, valores)

solution(string)

0
red2
1
blue5
2
black4
3
green1
4
gold3

(['red', 'blue', 'black', 'green', 'gold'], ['2', '5', '4', '1', '3'])

In [ ]:
sorted(s, key=lambda x: int(x[-1]))